# Git ignore - Webproject - Mateusz Gorka

# Dev help files
send.sh

# Private files
.ht**
config.php

# Plugins output
linecounter.*

# Others file
*.zip
*.7z
*~
**.log

# Temporary or local
**/_tmp**
**/_local**
**.temp.**
dox/html

# Input, output data
data/*
